$packt-button-icon-color: #fff;
$packt-tab-icon-color: rgb(49, 79, 79);
$logout-color: rgb(178, 34, 34);
$add-color: rgb(0, 140, 0);
$edit-color: rgb(216,100, 0);
$plain: rgb(255, 255, 255);
$reload-color: rgb(0, 0, 200);

.tabIcon {
  color: $packt-tab-icon-color !important;
}
.buttonIcon {
  color: $packt-button-icon-color !important;
}
.logoutIcon {
  color: $logout-color !important;
}
.addIcon {
  color: $add-color !important;
}
.editIcon {
  color: $edit-color !important;
}
.plainIcon {
  color: $plain !important;
}
.reloadIcon {
  color: $reload-color !important;
}